@{
    Layout = "../Shared/_Layout.cshtml";
}

<h1 class="mt-5">@ViewBag.Title</h1>

<div class="row">
    <div class="col-sm-6">
           @await Component.InvokeAsync("SignControl")
    </div>
    <div class="col-sm-6">
        <img class="float-left" src="" id="imgSign" />
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <br />
        <div class="form-inline">
            <input type="button" id="btnUndo" class="btn btn-primary" onclick="UndoSignature('ctlSignature');" value="Undo" />&nbsp;
            <input type="button" id="btnStatus" class="btn btn-info" onclick="StatusBar();" value="Status Bar" />&nbsp;
            <input type="button" id="btnPointCount" class="btn btn-default" onclick="var tp = SignatureTotalPoints('ctlSignature');alert(tp);" value="Total points?" />&nbsp;
            <input type="button" id="btnClear" class="btn btn-danger" onclick="ClearSignature('ctlSignature');" value="Clear" />&nbsp;
            <input type="button" id="btnSave" class="btn btn-success" onclick="ValidateSign();" value="Save" />&nbsp;
        </div>
    </div>

</div>
<br />

<div class="row">
    <div class="col-sm-12">
        <pre id="liStatus" style="color:black"></pre>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        var statV = false;

        function StatusBar() {
            SignatureStatusBar('ctlSignature', statV);
            statV = !statV; // toggle

            // change status bar look dynamically
            $('#ctlSignature_status').css({ "color": "orangered", "font-size": "12px", "font-weight": "bold", "float": "left" });
        }

        function ValidateSign() {
            var isValid = ValidateSignature('ctlSignature');

            if (!isValid) {
                $('#ctlSignature').css("border", "2px dashed red");
            }
            else {
                $('#ctlSignature').css("border", "2px dashed green");
            }

            if (isValid === true) {
                SaveSign();
            }
        }

        function SaveSign() {

            var btnSave = $("#btnSave");

            btnSave.prop('disabled', true);

            var ctlSignature = { Data: $("#ctlSignature_data").val(), Smooth: $("#ctlSignature_data_smooth").val() };

            $.ajax({
                url: "/Contact/SaveSignature/",
                data: JSON.stringify(ctlSignature),
                contentType: "application/json",
                type: 'POST',
                cache: false,
                success: function (data) {
                    $("#imgSign").attr("src", "/Signs/" + data);
                },
                error: function (textStatus, errorThrown) {
                    alert("Unable to save signatures : " + JSON.stringify(textStatus) + " : " + errorThrown);
                }
            });

            btnSave.prop('disabled', false);

        }

        function objctlSignature_status(success, points) {
            $("#liStatus").html("<strong>Signature done? : " + success + ", with " + points + " points.</strong>");
        }

        $(document).ready(function () { StatusBar(); });

    </script>

}
