@{
    Layout = "../Shared/_Layout.cshtml";
}

<!-- DEFAULT CSS FOR SIGNATURE CONTROL, CHANGE IF REQUIRED-->
<link href="/css/sign.css" rel="stylesheet" />


<h1 class="mt-5">@ViewBag.Title</h1>

<form method="post" action="/Sign/Save/">
    <!-- START SIGN CONTROL-->
    <div id="ctlSignature_Container" style="width: 450px; height: 300px;" class="signContainer">
        <canvas id="ctlSignature" width="450" height="300" class="signCanvas"></canvas>
    </div>
    <div id="ctlSignature_toolbar" style="width: 450px;" class="signToolbar">
        <img src="/images/clear.png" id="ctlSignature_resetbutton" title="Reset" class="signReset"/>
        <div id="ctlSignature_status" class="signStatus"></div>
    </div>
    <!-- START: Required for Super Signature Data  -->
    <input type="hidden" id="ctlSignature_data" name="ctlSignature_data" value=""/>
    <input type="hidden" id="ctlSignature_data_smooth" name="ctlSignature_data_smooth" value=""/>
    <!-- Required for Super Signature Data :END -->
    <!-- END SIGN CONTROL-->

    <input type="submit" class="btn btn-primary btn-lg float-left" value="Save"/>
</form>

@section scripts
{
    <script type="text/javascript">

        var objctlSignature;

        $(document).ready(function () {

            objctlSignature = new SuperSignature(
                {
                    SignObject: "ctlSignature",
                    SignWidth: "450",
                    SignHeight: "300",
                    ImageScaleFactor: "1",
                    Enabled: "true",
                    SmoothSign: true,
                    TransparentSign: "true",
                    BackColor: "#ffffff",
                    Visible: "true",
                    RequiredPoints: 50,
                    SuccessMessage: "Signature OK.",
                    StartMessage: "Please sign.",
                    ErrorMessage: "Please continue your signature.",
                    BorderColor: "#DCDCDC",
                    BorderStyle: "dashed",
                    BorderWidth: "2px",
                    PenColor: "#D24747",
                    PenSize: 3,
                    PenCursor: "/images/pen.cur"
                });

            try {
                objctlSignature.Init();
            } catch (ex) {
                alert(ex.description);
            }
        });

    </script>
}
